# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/photos/img1.jpg
src/assets/photos/img2.jpg
src/assets/photos/img3.jpg
src/assets/photos/img4.jpg
src/assets/photos/img5.jpg
src/assets/photos/img6.jpg
src/assets/photos/img7.jpg
src/assets/photos/index.js
src/assets/svg/habit.svg
